<!DOCTYPE html>
<html lang="sv">
<head>
	<title>Trafikhändelser från SR Trafik</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include partials/meta.ejs %>
	<%- include partials/css.ejs %>
	<style>
		body, html {
			height: 100%;
			width: 100%;
		}
	</style>
</head>
<body class="container-fluid">
	<div class="row">
    <%- include partials/nav.ejs %>
    <%- include partials/map.ejs %>
	</div>
    <%- include partials/scripts.ejs %>
</body>
</html>